.body {
  @apply bg-gradient-to-b from-green-400 to-green-900 w-screen h-screen flex flex-col;
}

.top {
  @apply flex justify-center pt-10;
}

.middle {
  @apply flex flex-grow relative justify-center pt-20;
}

.bottom {
  @apply flex flex-col;
}

.counter {
  @apply bg-black text-white text-lg border-yellow-500 text-center border p-4 flex flex-col;
  font: Courier Prime;
}

.count {
  @apply text-6xl;
  font: Courier Prime;
}

.primary {
  @apply bg-yellow-500 w-60 h-20 rounded text-6xl text-center font-semibold pt-2 self-center;
  font-family: Alfa Slab One;
}

.secondary {
  @apply text-yellow-500 font-bold text-lg border-yellow-500 bg-transparent border-2 rounded w-24 h-12 self-end mr-10 mb-10;
}

.aceCounter {
  @apply text-white font-bold text-lg border-white bg-transparent border-2 rounded p-1 px-4 h-12 self-end ml-10 mb-10;
}

.aceCount {
  @apply text-2xl;
  font: Courier Prime;
}

.loser {
  @apply text-lg text-center font-semibold pt-2 self-center text-white;
  font-family: Alfa Slab One;
}

.row {
  @apply flex flex-row;
}

.placeholder {
  @apply flex-grow;
}
