.body {
  @apply bg-gradient-to-b from-green-400 to-green-900 w-screen h-screen flex flex-col;
}

.top {
  @apply flex justify-center pt-10;
}

.middle {
  @apply flex flex-grow relative;
}

.bottom {
  @apply flex flex-col;
}

.counter {
  @apply bg-black text-white text-lg border-yellow-500 text-center border p-4 flex flex-col;
  font: Courier Prime;
}

.count {
  @apply text-6xl;
  font: Courier Prime;
}

.primary {
  @apply bg-yellow-500 w-60 h-20 rounded text-6xl text-center font-semibold pt-2 self-center;
  font-family: Alfa Slab One;
}

.secondary {
  @apply text-yellow-500 font-bold text-lg border-yellow-500 bg-transparent border-2 rounded w-24 h-12 self-end mr-10 mb-10;
}
